<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<%= render 'table' %>

<br>

<p><%= link_to "top restaurants", top_restaurants_path %></p>
<%= link_to 'New Restaurant', new_restaurant_path %>
